.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75px;
    width: 62vh;
    font-size: xxx-large;
    border: 5px solid #418b89;
    border-radius: 30px;
    margin: 10px;
    padding-top: 5px;
    background-color: #418b89;
}

.cardContainer {
    display: flex;
    align-items: center;
    height: 75px;
    width: 30vh;
    font-size: x-large;
    border: 5px solid #418b89;
    border-radius: 30px;
    margin: 10px;
    background-color: #418b89;
}

.cardContainer:hover {
    transform: scale(1.02);
}

.cardContainer > :first-child {
    flex: 3.5;
}

.cardContainer > :last-child {
    flex: 6.5;
    padding-top: 3px;
}
