.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75px;
    width: 40vh;
    font-size: x-large;
    border: 5px solid #418b89;
    border-radius: 30px;
    margin: 10px;
    background-color: #418b89;
}

.cardContainer {
    display: flex;
    align-items: center;
    height: 75px;
    width: 20vh;
    font-size: large;
    border: 5px solid #418b89;
    border-radius: 30px;
    margin: 10px;
    background-color: #418b89;
}

.cardContainer:hover {
    transform: scale(1.02);
}

.cardContainer > :first-child {
    flex: 4;
}

.cardContainer > :last-child {
    flex: 6;
}
